@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --default-font-fam: 'Noto Sans', sans-serif;
    --light-weight: 100;
    --regular-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--default-font-fam);
    font-weight: var(--regular-weight);
    color: white;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #c06a42;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;

    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
    color: #0f0c29;
    background-color: white;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e);
    background-size: 400% 400%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    animation: background_transition 8s ease-in-out infinite;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.social_media {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    list-style-type: none;
}


/* Keyframes */ 

@keyframes background_transition {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 80%;
    }
}